* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#todo-container {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  min-height: 120vh;
  padding: 2em;
  margin: 1.5em auto;
  background-color: white;
  max-width: 120vh;
  border-radius: 5px;
  box-shadow: 0 0 50px black;
  background: url(../images/pexels-mikhail-nilov-6932915.jpg);
  background-size: 120vh, contain;
}
.trans-box {
  margin: 30px;
  max-width: 100vh;
  display: flex;
  padding: 15em;
  background-color: #ffffff;
  /* border: 1px solid black; */
  opacity: 0.6;
}
header trans-box-head {
  display: flex;
}
/* .trans-box header {
  margin-bottom: 12px;
} */

.trans-box-items {
  display: block;
  list-style: none;
}
.todo-items {
  display: block;
  padding: 0.3em;
  list-style: none;
  background: #fff;
}
.todo-items input:checked ~ span {
  text-decoration: line-through;
}
